<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primer Layout</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="contenedor">
        <header>
            <nav>
                <ul>
                    <li><a href="">Inicio</a></li>
                    <li><a href="#historia">Historia</a></li>
                    <li><a href="">Galeria</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>
            </nav>
            
        </header>

        <main>
            <section>
                <h2>Titulo del Layout</h2>
                <img src="./img/foto.jpg" alt="una imagen">
                <p id="historia">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut iure voluptas autem explicabo illum commodi doloremque nam facere atque nesciunt.
                    Iusto nulla, blanditiis error ad explicabo deserunt at voluptate nobis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut iure voluptas autem explicabo illum commodi doloremque nam facere atque nesciunt.
                    Iusto nulla, blanditiis error ad explicabo deserunt at voluptate nobis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut iure voluptas autem explicabo illum commodi doloremque nam facere atque nesciunt.
                    Iusto nulla, blanditiis error ad explicabo deserunt at voluptate nobis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut iure voluptas autem explicabo illum commodi doloremque nam facere atque nesciunt.
                    Iusto nulla, blanditiis error ad explicabo deserunt at voluptate nobis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut iure voluptas autem explicabo illum commodi doloremque nam facere atque nesciunt. Iusto nulla, blanditiis error ad explicabo deserunt at voluptate nobis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut iure voluptas autem explicabo illum commodi doloremque nam facere atque nesciunt. Iusto nulla, blanditiis error ad explicabo deserunt at voluptate nobis.</p>
            </section>
            <aside>
                <h2>Titulo de aside</h2>
                <ul>
                    <li>lorem ipsum</li>
                    <li>lorem ipsum</li>
                    <li>lorem ipsum</li>
                    <li>lorem ipsum</li>
                    <li>lorem ipsum</li>
                </ul>
            </aside>
        </main>
        <footer>
            <p id="contacto">Hecho por Sergio Puchatt &copy;</p>
        </footer>
    </div>
</body>
</html>